.middleSectionContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    white-space: pre-wrap;
    margin-bottom: 100px;
}

.sideContainer {
    flex:.2;
}

.coinContainer {
    flex:.8;  
    margin-bottom: 350px;
    height: auto;
    max-height: fit-content;
}

