/* .mainContentContainer {
  height: 100%;
  overflow-y: scroll;
  white-space: pre-wrap;
} */

.container {
  margin: auto;
}

/* .navbar {
  background-color: #060b26;
  height: 80px;
  align-items: center;
} */
.nav-menu {  
  width: 250px;
  height: 100vh;
  display: flex;
  /* flex: 0.2; */
  justify-content: center;
  /* position: fixed; */
  top: 50;
  left: 0;
}

/* .active {
  left: 0;
  transition: 350ms;
} */

.nav-text {
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #dedc66;
}

.nav-menu-items {
  width: 100%;
}



span {
  margin-left: 16px;
}

/* Cover */

.cover-image {
  height: 100vh;
  width: 100%;
  opacity: 0.9;
  /* object-fit:contain; */
}

.banner-content {
  top: 25%;
  left: 25%;
  object-fit: contain;
}

.bttn {
  padding: 10px 15px;
  background-color: #e8f145;
  font-size: 14px;
  font-weight: 400;
}
.bttn:hover {
  background-color: #c4c432fa;
}

/* Coins */
.heading {
  align-items: center;
  background-color: #c3bd4c;
  border-radius: 8px;
  padding: 2rem;
  font-weight: 700;
  box-shadow: 0px 0px 6px #18191b;
  padding: 0.7rem 1rem;
}

/* .heading > p {
  margin: 0;

} */

.coin-name {
  margin-left: 0rem;
}

.coin-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e5e6ea;
  box-shadow: 0px 0px 4px #18191b;
  border-radius: 8px;
  margin: 1rem 1rem;
  padding: 0.7rem 1rem;
}

.coin-row:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.image {
  height: 40px;
  margin-right: 8px;
  width: auto;
}

.img-symbol {
  display: flex;
  align-items: center;
}

/* SingleCoin */

.coin-container .content {
  max-width: 1080px;
  margin: 1rem auto;
  padding: .7rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #e5e6ea;
  box-shadow: 0px 0px 4px #18191b;
  border-radius: 8px;
}

.box {
  max-width: 1080px;
  margin: auto;
  padding: .7rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #e5e6ea;
}

.rank {
  margin: 2px 0 4px 0;
}

.rank-btn {
  background-color: #cac9bb;
  border-radius: 8px;
  padding: .2rem;
}

/* .info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */

.coin-heading {
  display: flex;
  /* flex-wrap: nowrap; */
  align-items: center;
}

.coin-price {
  display: flex;
  margin-left: 4rem;
  font-size: 36px;
  font-weight: 500;
}

.coin-price > p {
  margin-left: 1rem;
  font-size: 30px;
  color: red;
  font-weight: 600;
  align-items: center;
  
}

.info p {
  padding-right: 1rem;
}

table {
  margin: .5rem 0;
}

td, th {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #d5d6ec;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 100%;
}

.stats .row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #808080;
  margin: .6rem 0;
  padding-bottom: .5rem;
}

.graph-container {
  max-width: 1080px;
  margin: 1rem auto;
  padding: .7rem 1rem;
}

.stats .row p:first-child {
  color: #d3d3d3;
}

.about h3 {
  margin: 1rem 0;
}

@media screen and (max-width: 700px) {
  .coin-container .content {
      max-width: 100%;
      margin: .5rem;
      padding: 0 .5rem;
  }

  .stats {
      grid-template-columns: 1fr;
  }

  td,th {
      padding: 3px;
  }

  .rank {
      margin: .5rem;
  }

  .rank-btn {
      margin: .5rem 0;
  }
}


/* Footer section */

.footer-second {
  background-color: #E5E4E2;
}



.input-group-text {
  background-color: wheat;
  padding: 10px 10px 10px 0px;
}
.footer-third {
  background-color: goldenrod;
  border-top: 1px solid white;
}

/* body .bottomFooter {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
body {
  height: 100vh;
} */
